/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ---------- BASE ---------- */

:root {
  /* fonts */
  --body-font: 'Poppins', sans-serif;
  --logo-font: 'Coiny', cursive;
  /* colors */
  --hue-blue: 210;
  --header-color: hsl(var(--hue-blue), 96%, 32%);
  --font-color: hsl(var(--hue-blue), 100%, 20%);
  --bg-color: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --white-87: hsl(0, 0%, 87%);
}

body {
  font-family: var(--body-font);
  background-color: var(--bg-color);
}

select {
  cursor: pointer;
}

/* ---------- STYLES ---------- */
.container {
  padding: 1rem 2rem;
  margin: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.header.container {
  display: flex;
  gap: 0.5rem;
  background: var(--header-color);
  align-items: baseline;
  color: var(--bg-color);
  padding: 1.75rem 2rem;
  margin: 0;
}

.icon-aquadoser {
  font-size: 2rem;
}

.app-name {
  font-family: var(--logo-font);
  font-size: 1.5rem;
  font-weight: normal;
}

main {
  position: relative;
  margin-bottom: 15rem;
}

.watermark {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.watermark .icon-aquadoser {
  font-size: 10rem;
  color: var(--bg-color);
  text-shadow: -10px 0 0.5rem var(--white), 10px 0 0.5rem var(--white-87),
    0 10px 0.5rem var(--white), 0 10px 0.5rem var(--white-87);
}

.about.close {
  display: none;
}

.text {
  line-height: 1.5rem;
  color: var(--font-color);
  margin-bottom: 5rem;
}

.text .strong {
  font-weight: bold;
}

.text .click::before {
  content: ' Para começar a usar, basta clicar no botão abaixo:';
}

.start {
  width: fit-content;
  margin: 0 auto;
}

.start a,
.calculate {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--header-color);
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.start a:hover {
  padding: 0.6rem 1.6rem;
  border: 0.2rem solid #eee;
  position: relative;
  transition: border 0.2s;
}

.start a:hover::after {
  content: '';
  position: absolute;
  background-color: var(--header-color);
  border-radius: 2rem;
  top: -0.4rem;
  bottom: -0.4rem;
  left: -0.4rem;
  right: -0.4rem;
  z-index: -1;
}

.start a:active,
.start a:active::after {
  background-color: var(--font-color);
}

.calculator {
  display: none;
}

.calculator.open {
  display: block;
}

.legend {
  margin-bottom: 0.5rem;
  color: var(--font-color);
}

.manufacturer {
  position: relative;
}

.manufacturer.show::after {
  content: 'Por favor, selecione uma marca.';
  position: absolute;
  left: 0;
  bottom: 9px;
  font-size: 0.875rem;
  color: hsl(0, 100%, 50%);
}

.vol {
  position: relative;
}

.vol.show::after {
  content: 'Informe o volume do aquário';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -70px;
  font-size: 0.875rem;
  color: hsl(0, 100%, 50%);
}

.calculator select,
.volume {
  width: 100%;
  background-color: var(--white);
  border: 2px solid var(--header-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: var(--body-font);
  font-size: 1rem;
  color: var(--font-color);
  margin-bottom: 2rem;
}

.calculate {
  display: flex;
  font-family: var(--body-font);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.calculate:hover {
  background-color: var(--font-color);
}

.results {
  display: none;
}

.results.show {
  display: block;
  padding-top: 5rem;
  margin: 0;
}

.footer {
  background: var(--header-color);
  color: #eee;
  padding: 1.75rem 2rem;
}

.icon-logo {
  font-size: 2.5rem;
  color: #eee;
}

.brand a {
  display: grid;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.brand p {
  font-size: 0.75rem;
  text-align: center;
  padding: 0 0 0.5rem;
  max-width: 400px;
  margin: 0 auto;
}

.social,
.links {
  justify-content: center;
}

.social ul,
.links ul {
  grid-auto-flow: column;
  width: fit-content;
}

.social i,
.links i {
  font-size: 1.5rem;
  color: #eee;
}

.footer i:hover {
  padding: 4px;
  border-radius: 0.5rem;
  box-shadow: 4px 2px 0.5rem #003366, -4px 0 0.5rem #0580fa,
    2px 4px 0.5rem #003366, 0 -4px 0.5rem #0580fa;
  color: var(--white);
  transition: 0.2s;
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px) {
  .header.container {
    padding: 1.75rem 4rem;
  }

  .container {
    padding: 1rem 4rem;
    margin: 5rem 0 0;
  }

  .start {
    display: none;
  }

  .text {
    margin-bottom: 0;
  }

  .text .click::before {
    content: ' Para começar a usar, insira as informações solicitadas no formulário abaixo:';
  }

  .calculator {
    display: block;
  }

  .watermark {
    top: 105%;
  }
}

@media screen and (min-width: 992px) {
  main {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 5rem;
    justify-content: space-around;
  }

  .watermark {
    position: absolute;
    top: 65%;
    left: 25%;
    z-index: -1;
  }

  .about,
  .calculator {
    max-width: 700px;
  }

  .text .click::before {
    content: ' Para começar a usar, insira as informações solicitadas no formulário ao lado:';
  }

  .footer {
    padding: 1.75rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand a {
    justify-content: start;
  }

  .brand p {
    text-align: left;
  }
}
